@media screen and (max-width: 560px) {
  .pwa-wrapper .program__container {
    flex-direction: column;
  }
  .pwa-wrapper .program__left {
    width: 100%;
  }
}

@container (max-width: 560px) {
  .pwa-wrapper .program__container {
    flex-direction: column;
  }
}