@media screen and (max-width: 1350px) {
  .pwa-wrapper .video-container {
    height: 450px;
    width: 800px;
  }
}
@media screen and (max-width: 832px) {
  .pwa-wrapper .video-container {
    height: 350px;
    width: 600px;
    top: auto;
  }
}
@media screen and (max-width: 832px) {
  .pwa-wrapper .video-container {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 56.25vw;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 16/9;
    pointer-events: none;
    display: block;
  }
  .pwa-wrapper .video-container iframe {
    width: 1000%;
    height: 100%;
    margin-left: -450%;
  }
  .pwa-wrapper .program.video {
    margin-top: 45vw;
  }
  .pwa-wrapper .video-shadow {
    background: linear-gradient(to top, rgb(32, 33, 36) 0, rgba(0, 0, 0, 0) 56%);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }

}

@media screen and (max-width: 560px) {
  .pwa-wrapper .program__container {
    flex-direction: column;
  }
  .pwa-wrapper .program__left {
    width: 100%;
  }
  .pwa-wrapper .btn {
    width: 100%;
  }
}


@container (max-width: 560px) {
  .pwa-wrapper .program__container {
    flex-direction: column;
  }
}